/*COLOR PALETTE
Columbia Blue #B8D8D8
Weldon Blue #7A9E9F
Stormcloud #4F6367
Beige #EEF5DB
Sunset Orange #FE5F55
*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

header {
  background-image: url('./assets/mainpic.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 20vh;
}


.button-container {
  display: flex;
  flex-wrap: wrap;
  width: 517px;
  justify-content: space-around;

}

.header-btn {
  font-size: 20px;
  height: 75px;
  width: 220px;
  border: none;
  background-color: #b8d8d8;
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}

.header-btn img {
  width: 30px;
  height: 30px;
}

.goals img {
  position: relative;
  top: 3px;
}

.white-bg {
  padding: 5px;
  width: 35px;
  background-color: #fff;
  border-radius: 30px;
  margin: 0 15px;
}


.calendar-section {
  background-color: #4F6367;
}

.calendar-section h2 {
  color: white;
  font-size: 75px;
  padding: 20px;
  text-align: center;
}

.day-holder {
  display: flex;
  flex-wrap: wrap;
}

.calendar-day {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  margin: 20px;
  width: 150px;
  position: relative;
}

.calendar-day img {
  width: 60px;
}

.calendar-day .jump {
  width: 85px;
}

.calendar-day .num {
  font-size: 22px;
  position: absolute;
  top: 10px;
  left: 20px;
}